.sticky-menu {
  .sticky-menu__title {
    padding-left: 30px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      background-image: url("img/burger.png");
      width: 20px;
      height: 16px;
      left: 0px;
      top: 8px;
    }
  }

  .sticky-menu__elements {
    line-height: 1.9;

    .sticky-menu-element {
      font-size: 16px;
      color: #243543;
      cursor: pointer;

      &.sm-active {
        font-weight: bolder;
      }

      &:hover {
        font-weight: bolder;
      }
    }
  }
}